<h1>Welcome... @ViewBag.newUser.Username</h1>
<a asp-controller="Spa" asp-action="Index">Take me to the Spa!!?!</a>

<div>
    <p>
        Username: @ViewBag.newUser.Username </br>
        Email: @ViewBag.newUser.Email </br>
        Date Joined: @ViewBag.newUser.Date </br>
    </p>
</div>